.MyConfig {
  .lections-container {
    background-color: #eeeeee;
  }
  .dropzone {
    border: 1px dashed #111;
    width: 100%;
    height: 150px;
  }

  .container-drop:hover {
    border: none;
    cursor: pointer;
  }
  .container-drop:focus {
    border: none !important;
  }
}
