.MyAccountClassRoom {
  .lections-container {
    background-color: #eeeeee;
  }
  .video-react-control-bar {
    display: flex;
    justify-content: space-between;
    visibility: visible;
    opacity: 1;
    transition: visibility 0.1s, opacity;
    color: #111;
    background-color: rgb(255 255 255);
  }
  .video {
    border: 2px solid #111;
  }
  .video-react-play-progress.video-react-slider-bar {
    background-color: black;
  }

  .video-react-volume-level {
    background-color: black;
  }

  .lections-container {
    margin-top: 30px;
  }

  @media only screen and (min-width: 768px) {
    .lections-container {
      margin-top: 0px;
    }
  }
}
